body {
  padding: 0;
  margin: 0;
}

// 必须有mixin
@mixin  block($fontSize){
  font-size: $fontSize;
  border: 1px solid #ccc;
  border-radius: 4px;
}

$bgColor: red;
$fontSize: 12px;

.wrapper{
  //lighten颜色变浅
  background: lighten($bgColor, 40%);

  // 调用用include
  .nav{
    @include block($fontSize);
  }
  .content{
    @include block($fontSize + 2px);
    &:hover{   // 相当于 .content: hover
      background: $bgColor;
    }
  }
}
